@model  CasillaEditModel

@using Arysoft.ProyectoN.Models;

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Bingo - Casilla @Model.Seccion.Numero <small>@Model.Tipo.GetDisplayName()</small></h4>
</div>
<div class="modal-body" id="default-modal-body">
    <div id="listaBingo" name="listaBingo" style="max-height: 650px; overflow-y: scroll;">
        @Html.Partial("~/views/casilla/_listaBingo.cshtml", Model)
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="imprimirBingo">
        <span class="glyphicon glyphicon-print"></span>
        Imprimir
    </button>
    <button type="button" class="btn btn-default" data-dismiss="modal">
        <span class="glyphicon glyphicon-remove"></span>
        Cerrar
    </button>
</div>

<script>

    $(document).ready(function () {

        $('#imprimirBingo').on('click', function () {
            var contenido = document.getElementById('listaBingo').innerHTML;
            var windowModalPrint = window.open('', '', 'width=800, height=900');
            var windowDocument = windowModalPrint.document;

            windowDocument.open();
            windowDocument.write(contenido);
            windowDocument.close();

            windowModalPrint.focus();
            windowModalPrint.print();
            windowModalPrint.close();
        });

    });


</script>