@{
    ViewBag.Title = "Dashboard";
}

@section styles {

    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />

}

<div id="defaultModal" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="default-modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ciudadanos</h4>
            </div>
            <div class="modal-body" id="default-modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cerrar
                </button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container">

    <div class="row title-count">

        <div class="col-md-2 col-sm-4 col-xs-6 title-stats-count">
            <span class="count-top">
                Simpatizantes de 1x10
            </span>
            <div class="count" id="personas1x10DIV">
                0%
            </div>
            <span class="count-bottom text-info" id="totalMovilizadoresDIV">
                De 0 movilizadores
            </span>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 title-stats-count">
            <span class="count-top">
                Votantes Seguros
            </span>
            <div class="count" id="totalVotantesSegurosDIV">
                0
            </div>
            <span class="count-bottom text-info" id="porcentajeVotantesSegurosSPAN">
                0% de avance
            </span>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 title-stats-count">
            <span class="count-top">
                Faltán para la meta
            </span>
            <div class="count text-warning" id="totalFaltanDIV">
                -
            </div>
            <span class="count-bottom">
                Votantes seguros
            </span>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 title-stats-count">
            <span class="count-top">
                Casillas
            </span>
            <div class="count" id="totalCasillasDIV">
                0
            </div>
            <span class="count-bottom" id="totalSeccionesSPAN">

            </span>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 title-stats-count">
            <span class="count-top">
                Faltán para cierre de registros
            </span>
            <div class="count" id="totalSemanasDIV">
                0
            </div>
            <span class="count-bottom">
                Días (15/mayo)
            </span>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 title-stats-count">
            <span class="count-top">
                Faltán
            </span>
            <div class="count" id="totalAuditoriasDIV">
                0
            </div>
            <span class="count-bottom" id="totalAuditoriasSPAN">
                Días para las votaciones
            </span>
        </div>

    </div>

    <!-- Para el día D -->
    <div class="row">
        <div class="col-md-4">
            <div class="">
                <div id="votosRealizados" style="width: 100%; height: 300px;"></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="">
                <div id="votosPorSector" style="width: 100%; height: 300px;"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h4>Total de votos por hora</h4>
                    <div id="votosPorHora" style="width: 100%; height: 240px;"></div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-md-12">
                    <h4>Resultados generales</h4>
                    <div id="resutaldosGenerales" style="width: 100%; height: 240px;"></div>
                </div>
            </div>*@
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h4>Votos por casilla</h4>
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="SeccionID">Sección</label>
                            @*@Html.DropDownList("SeccionID", null, htmlAttributes: new { @class = "chosen-select" })*@
                        </div>
                        <div class="form-group" id="votosCasillaList">
                            <label for="CasillaID">Casilla</label>
                            <select id="CasillaID" class="form-control"></select>
                        </div>

                        <div class="btn-group" id="votosCasillaAcciones" style="display: none;">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Más Acciones <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);" onclick="CasillaBingo();">Bingo</a></li>
                                @*<li><a href="javascript:void(0);" onclick="CasillaFaltantes();">Listado votantes faltantes</a></li>*@
                            </ul>
                        </div>

                    </div>
                    <div id="votosPorCasilla" style="width: 100%; height: 200px;"></div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-md-12">
                    <h4>Resultados por casilla</h4>
                    <div id="resultadosPorCasilla" style="width: 100%; height: 240px;"></div>
                </div>
            </div>*@
        </div>
    </div>

    <!-- Durante la campaña -->

    @*<div class="row">
        <div class="col-md-12">
            <h3>Votos Meta VS Alcanzados y Trabajados</h3>
            <div id="votantesMetaAlcanzados" style="width: 100%; height: 500px;"></div>

            <h3>Votantes por Sector</h3>
            <div id="votantesSectorTodos" style="width: 100%; height: 500px;"></div>
        </div>
    </div>*@

</div>

@section Scripts {

    

    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/jquery.table2excel.js"></script>
    <script src="~/Scripts/jquery.sortElements.js"></script>

    <script>

    

    </script>
}