@model IEnumerable<Persona>

@using Arysoft.ProyectoN.Models;

@if (Model.Count() == 0)
{
    <span class="label label-default">no se encontrarón registros</span> 
}
else
{
    foreach (var item in Model)
    {
        string classSpan = "label-warning";
        string title = "";

        if (item.Status == StatusTipo.Baja)
        {
            classSpan = "label-default";
            title = "Persona encontrada dada de baja \n\n";
        }
        else if (item.Status == StatusTipo.Eliminado)
        {
            classSpan = "label-danger";
            title = "Persona encontrada eliminada \n\n";
        }
        else { title = "Persona encontrada \n\n"; }

        if (item.Seccion != null) { title += "Sección donde vota: " + item.Seccion.Numero + "\n"; }

        if (!string.IsNullOrEmpty(item.Telefono)) {
            title += "\nTeléfono: " + item.Telefono;
        }

        if (!string.IsNullOrEmpty(item.Celular))
        {
            title += "\nCelular: " + item.Celular;
        }

        if (item.UbicacionVive != null)
        {
            title += "\n";
            if (item.UbicacionVive.Calle != null) { title += item.UbicacionVive.Calle.Nombre; }
            title += " " + item.UbicacionVive.NumExterior;
            if (!string.IsNullOrEmpty(item.UbicacionVive.Letra)) { title += " " + item.UbicacionVive.Letra; }
            if (!string.IsNullOrEmpty(item.UbicacionVive.NumInterior)) { title += " " + item.UbicacionVive.NumInterior; }
            if (item.UbicacionVive.Colonia != null)
            {
                title += "\n";
                title += item.UbicacionVive.Colonia.Nombre;
                title += " CP " + item.UbicacionVive.Colonia.CodigoPostal;
            }
        }

        title += "\nAfinidad: " + item.Afinidad.GetDisplayName();

        if ((item.Afinidad == AfinidadTipo.PorAfiliado || item.Afinidad == AfinidadTipo.PorSector) && item.Promotor != null)
        {
            title += "\nPromotor: " + item.Promotor.NombreCompleto;
        }

        title += "\nActualizado por: " + item.UserNameActualizacion;


        <span class="label @classSpan" title="@title" style="margin-right: 2px;">
            @item.NombreCompleto
        </span>
    }
}