
/* ARYSOFT - SITE.CSS
*******************************************************************************/

body {
    padding-top: 4em;    
     /*padding-bottom: 20px; */
}

/* CLASES GENERALES
*******************************************************************************/

/*.toUpperCase {
    text-transform: uppercase;
}*/


/* Single Web Page
*******************************************************************************/

/*
 * Custom translucent site header
 */

/*.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

    .site-header a {
        color: #999;
        transition: ease-in-out color .15s;
    }

        .site-header a:hover {
            color: #fff;
            text-decoration: none;
        }*/

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

/*.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

    .product-device::before {
        position: absolute;
        top: 10%;
        right: 10px;
        bottom: 10%;
        left: 10px;
        content: "";
        background-color: rgba(255, 255, 255, .1);
        border-radius: 5px;
    }

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}*/


/*
 * Extra utilities
 */

/*.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}*/

/* LISTAS - PAGINATION
*******************************************************************************/
/*.pagination-container {
}

.pagination {
    justify-content: center !important;
    margin: 0;*/
    /*display: inline-block;*/
    /*padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination > li {
        display: inline;
    }

        .pagination > li:first-child > a {
            margin-left: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .pagination > li > a {
            position: relative;
            display: block;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #007bff;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #dee2e6;
        }

        .pagination > li:last-child > a {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

    .pagination > .active > a {
        z-index: 3;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

.media .media-object {
    background: #808080 url(/Areas/Admin/AdminAreaRegistration.cs);
    height: 64px;
    width: 128px;
}*/