@{
    ViewBag.Title = "Dashboard";
}

@section styles {

    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />

}

<div id="defaultModal" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="default-modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ciudadanos</h4>
            </div>
            <div class="modal-body" id="default-modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cerrar
                </button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container">

    <div class="jumbotron">
        <h1 class="">Hola mundo</h1>
    </div>

    <div class="row">
        <div class="col-md-12">

        </div>
    </div>

</div>

@section Scripts {

    

    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/jquery.table2excel.js"></script>
    <script src="~/Scripts/jquery.sortElements.js"></script>

    <script>

    

    </script>
}