@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Cuenta bloqueada";
}

<div class="container">
    <hgroup>
        <h1 class="text-error">Cuenta bloqueada.</h1>
        <h2 class="text-error">Esta cuenta se ha bloqueado, inténtelo de nuevo más tarde.</h2>
    </hgroup>
</div>