@using Arysoft.Website.Areas.Admin.Models;
@using Arysoft.Website.Models;

@model IEnumerable<Nota>

@{
    bool isReadonly = (bool)TempData["isReadonly"];
}

@if (Model.Count() == 0)
{
    <div class="alert alert-warning mt-3" role="alert">
        <h5 class="alert-heading">Sin notas</h5>
        @if (isReadonly)
        {
            <p>Aun no tiene notas, puede agregarlas al editar el contenido.</p>
        }
        else
        {
            <p>Aun no tiene notas, utilice el formulario superior para agregar una nota.</p>
        }
    </div>
}
else
{
    <div style="max-height: 800px; overflow-y: scroll;">
        @foreach (Nota nota in Model)
        {
            <div class="card bg-warning shadow-sm mt-4">
                <div class="card-body">
                    <p class="card-text">@nota.Texto</p>
                    <footer class="blockquote-footer">
                        @nota.Autor | @nota.FechaCreacion
                    </footer>
                </div>
            </div>
        }
    </div>
}

<script>
    document.getElementById("notasTabCount").innerHTML = "@Model.Count()";
</script>